# Connecting python to PostGres Database

A recommender system's database was created in order to optimize the space required for this project to work on. This notebook aims at testing connectivity to a local or remote database.

The connection engine is made using 2 libraries: *sqlalchemy* and *psycopg2*. In order to install them, run the following commands:

```
pip install psycopg2
pip install SQLAlchemy
```

In [1]:
# Imports
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

In [4]:
username = 'postgres'
password = 'admin'
dbname = 'RecSys'
hostname = 'localhost:5432'
engine = create_engine('postgresql+psycopg2://{}:{}@{}/{}'.format(username, password, hostname, dbname))

In [6]:
sql_str = "select * from sparsity.get_dataset_from_sparsity('ML100k', 1.0, 1.0)"
df = pd.read_sql(con= engine , sql=sql_str)
print (df.shape)
df.head()

(100000, 3)

  id_user id_item feedback
0       1      34        2
1       1      37        2
2       1      50        5
3       1      51        4
4       1      82        5