# Populating Book Crossing Dataset into Database

This notebook aims at loading the [Book Crossing](https://grouplens.org/datasets/book-crossing/) dataset into the `recsys` database.

## Imports

In [1]:
import sys, os 
import numpy as np 
import pandas as pd 
from sqlalchemy import types
lib_path = './../Sources'
if (lib_path not in sys.path):
    sys.path.append(lib_path) #src directory
import lpsrec.database as db

## Getting Database Connection

In [13]:
username = 'postgres'
password = 'admin'
dbname = 'RecSys'
hostname = 'localhost:5432'
conn = db.get_database_connection(username, password, hostname, dbname)

In [15]:
conn.execute('commit')

## Loading files into pandas dataframes

In [3]:
dataset_path = './../Datasets/BookCrossing/Standard_raw/'
os.listdir(dataset_path)

['BX-Book-Ratings.csv', 'BX-Books.csv', 'BX-Users.csv', 'desktop.ini']

In [4]:
df_ratings = pd.read_csv(os.path.join(dataset_path, 'BX-Book-Ratings.csv'), sep=';')
print ("Number of ratings: ", df_ratings.shape[0])
print ("Number of users who have ratings: ", df_ratings['User-ID'].unique().shape[0])
print ("Number of items who have ratings: ", df_ratings['ISBN'].unique().shape[0])
df_ratings.head()

Number of ratings:  1149780
Number of users who have ratings:  105283
Number of items who have ratings:  340557

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
df_items = pd.read_csv(os.path.join(dataset_path, 'BX-Books.csv'), sep=';')
print ("Number of items: ", df_items['ISBN'].unique().shape[0])
df_items.head()

Number of items:  271378

c:\anaconda\envs\rec_env\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
df_users = pd.read_csv(os.path.join(dataset_path, 'BX-Users.csv'), sep=';')
print ("Number of users: ", df_users['User-ID'].unique().shape[0])
df_users.head()

Number of users:  278858

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
sql_str = "select * from datasets.dataset where version = 'BOOKX'"
df_dataset_info = pd.read_sql(con=conn, sql=sql_str)
df_dataset_info.head()

,id_dataset,name,url,registers,size,id_cluster,version,id_utility
0,7,Book Crossing,https://grouplens.org/datasets/book-crossing/,None,None,3,BOOKX,3

## Inserting Users 
Checking users who have ratings but don't have IDs on df_users

In [ ]:
set(df_ratings['User-ID'])-set(df_users['User-ID'])

Since the set is empty, all users from ratings have their corresponding register in the `BX-Users.csv` file

In [ ]:
df_datasets_user = pd.DataFrame(columns=["id_dataset", "id_user_dataset"])
df_datasets_user['id_user_dataset'] = np.unique(np.append(df_users['User-ID'].unique(), df_ratings['User-ID'].unique()))
df_datasets_user['id_dataset'] = np.repeat(df_dataset_info['id_dataset'][0], df_datasets_user.shape[0])
df_datasets_user.tail()

Registering users on `datasets.user`

In [ ]:
%%time
df_types = {"id_dataset": types.INTEGER(), "id_user_dataset": types.INTEGER()}
conn.execute("delete from datasets.user_info where id_user in (select id_user from datasets.user where id_dataset = {})" .format(df_dataset_info['id_dataset'][0]))
conn.execute("delete from datasets.user where id_user in (select id_user from datasets.user where id_dataset = {})" .format(df_dataset_info['id_dataset'][0]))
df_datasets_user.to_sql(con=conn, schema='datasets', if_exists='append', name='user', index=False, dtype=df_types)

## Inserting Items
Checking items who have ratings but don't have IDs on df_items

In [8]:
set(df_ratings['ISBN'])-set(df_items['ISBN'])

{'0785316531',
 '0840712898',
 '3548363008',
 '3980312968',
 '0285629298',
 '3442430917',
 '3453092996',
 '8434581477',
 '0130202010',
 '0340610557',
 '0140471405',
 '0751530808',
 '0671808826',
 '0277300594',
 '0440843502',
 '0224050575',
 '1857994159',
 '0340241748',
 '882002438186I',
 '0340750014',
 '3930419726',
 '9510149519',
 '0743415558',
 '8845916332',
 '8845419258',
 '8471769123',
 '8804522534',
 '8440648650',
 '9722215876',
 '8804517891',
 '0785301712',
 '8420601837',
 '782253005278',
 '8432046930',
 '9722017926',
 '9782253066019',
 '3442235006',
 '0440183057495',
 '842268666X',
 '0352325313',
 '1561566004',
 '9022915891',
 '0330261487',
 '04484407X',
 '0523480466',
 '8481305057',
 '0333741463',
 '9724726347',
 '3872942670',
 '8481710024',
 '186049840X',
 '1568650590',
 '3442238110',
 'N0385292244',
 '0207146845',
 '033025409X',
 '0099230917',
 '8432040711',
 '84932229652',
 '8817153567',
 '3596108535',
 '074726323X',
 '0747404402',
 '2841720942',
 '7505940872',
 '1840119411',
 '0006499988',
 '0804111774',
 '8422625474',
 '0451137566',
 '3770908481',
 '3453094972',
 '0590721607',
 '8817127998',
 '020713653X',
 '380976587',
 '0673805557',
 '883847026',
 '8804407395',
 '0140282823',
 '55304918125',
 '3453025687',
 '8573121890',
 'O375702709',
 '9071442837',
 '0571171788',
 '0155169637',
 '8426413099',
 '849793234',
 '795774734',
 '0603560709',
 '0439969050',
 '9510160113',
 '0586217622',
 '8422644908',
 '8804375582',
 '0708813585',
 '9780864421029',
 '2266025651',
 '8842809764',
 '3442010551',
 '0560768800',
 '0099661411',
 '1861590547',
 '03999148469',
 '27144.2960.2',
 '8877824875',
 '0854126511',
 '8447302113',
 '0785317163',
 '3100303059',
 '015200872',
 '0934638136',
 '9727960499',
 '15701911X',
 '2724206673',
 '662238913',
 '8886042388',
 '1861973942',
 '074724345X',
 '8439663870',
 '8422637677',
 '0755302125',
 '0330389750',
 '08433946113',
 '0340796316',
 '2226141707',
 '049130204',
 '0921166001',
 '3548200184',
 '0340739746',
 '0593038614',
 '055210471X',
 '1569870268',
 '0140385460',
 '0867604999',
 '0263771598',
 '8879722816',
 '0312573480',
 '1869441435',
 '0751525456',
 '9602565535',
 '9782266125154',
 '0330029983',
 '8422648601',
 '3980440834',
 '0439231604',
 '0356101363',
 '32170500888',
 '9044923684',
 '0749319739',
 '06797357741',
 '2253136476',
 '8473200038',
 '0140258698',
 '0330323288',
 '0417058705',
 '1857237307',
 '0553541242',
 '0140144323',
 '0439284996',
 '3453160575',
 '8401464633',
 '8204082878',
 '0349103453',
 '0771021275',
 '4453304721',
 '0340765453',
 '1411608356',
 '3929512262',
 '375703063',
 '0140092447',
 '0007134479',
 '8483027739',
 '0771069774',
 '9751020107',
 '0747564426',
 '0909824347',
 '3875122399',
 '888089370X',
 '1857236076',
 '0671829173',
 '0552147192',
 '034543469',
 '353007032',
 '0006485626',
 '0603551750',
 '0340588136',
 '0739402781',
 '1555604633',
 '088171511140',
 '0552142239',
 '8471753057',
 '0874497124',
 '8497570057',
 '0732268486',
 '0007107838',
 '0155062506',
 '888776526X',
 '2070411575',
 '9028417575',
 '844730020X',
 '0553238043',
 '8639300267',
 '18400000201',
 '3150001455',
 '1857989546',
 '0960575073',
 '0330239279',
 '0439I08055',
 '0006110134',
 '8429721886',
 '2290032913',
 '0451137868',
 '1863253017',
 '3404231163',
 '3811211277',
 '0000000030670',
 '0712662901',
 '3401071653',
 '9186489763',
 '0575066539',
 '1857231848',
 '0440280001',
 '9683800017',
 '8479690453',
 '1041428001',
 '0006751970',
 '1863861688',
 '3499220083',
 '0140127690',
 '8475968279',
 '3791504657',
 '071266808X',
 '2264019832',
 '0140023321',
 '2171243392',
 '0646151835',
 '074755837X',
 '0434105066',
 '1590431145',
 '01400.43128',
 '8425413699',
 '0330332651',
 '3763253890',
 '3548226000',
 '8484503089',
 '9176433382',
 '075284895X',
 '8807812762',
 '0671525831',
 '073227902X',
 '3776704160',
 '067185464',
 '0712615318',
 '0553813439',
 '0712680985',
 '0373020503',
 '0552145793',
 '8422612135',
 '3861502844',
 '0099538202',
 '3453116429',
 '1850511039',
 '0909874174',
 '207036965',
 '9510253251',
 '0702808431',
 '3401016032',
 '9722900803',
 '2702841767',
 '0733518877',
 '1853810053',
 '000650967',
 '2.264.02983.8',
 '3581665727',
 '0340199903',
 '0060654546',
 '073942632X',
 '0091588200',
 '0340393092',
 '0868066451',
 '0861126653',
 '0812513509004',
 '0552127744',
 '0394851099',
 '0676970362',
 '8429743944',
 '9724210170',
 '0140116826',
 '0091736366',
 '7540704608',
 '1551925648',
 '8871223462',
 '0006493130',
 '8408043631',
 '00613000039',
 '9510140112',
 '8401910129',
 '0340588721',
 '0834107694',
 '8497591607',
 '0263754472',
 '8401242827',
 '8843800965',
 '0263831345',
 '074741159X',
 '394702689',
 '1566194946',
 '3890087698',
 '8846200268',
 '01402.5448',
 '0965013813',
 '0732267277',
 '007082957',
 '1571312341',
 '0292750412',
 '611121967',
 'O380792893',
 '076889063',
 '0733529348',
 '0593045890',
 '0553204203',
 '3926176385',
 '088204678790',
 '0140036660',
 '055299460X',
 '3763227296',
 '0939979195',
 '27617O5017',
 '8422653184',
 '068818091',
 '8500013230',
 '0553084810',
 '0747233233',
 '039452294',
 '880501821X',
 '3499221004',
 '0130435309',
 '014027832X',
 '0892130830',
 '0440843049',
 '3442114543',
 '55304499060',
 '0965307751',
 '0007142463',
 '0968020208',
 '0099273454',
 '3499226871',
 '3423123133',
 '1855970147',
 '0590097385',
 '0140263543',
 '0681410191',
 '0972699112',
 '3814481387',
 'TBR0345359321',
 '0859418634',
 '0704345943',
 '272422826X',
 '8755323197',
 '8431509767',
 '0099866501',
 '006018873',
 '3499235234',
 '671800183',
 '0316490024',
 '074972031X',
 '8481304964',
 '0195012410',
 '8485337492',
 '0140007814',
 '060803320',
 'B000002MWJ',
 '884521723X',
 'CN112898',
 '8422697661',
 '3783120640',
 '9780060173081',
 '0552087661',
 '9053334734',
 '0340658169',
 '43214113237',
 '8401376114',
 '067180409X',
 '140288124X',
 '3811837168',
 '0769612067',
 '0330349287',
 '3257208375',
 '3257233809',
 '8475303226',
 '059008528X',
 '0864640801',
 '972201580X',
 '0590714139',
 '0586089519',
 '8495565307',
 'I892350009',
 '3822502030',
 '8881835177',
 '0425175219',
 '0140025405',
 '0385256639',
 '3458336818',
 '0586123147',
 '1585160385',
 '3453072766',
 '8424681045',
 '0751518573',
 '0586072594',
 '2226008455',
 '9726953499',
 '0553202421',
 '072140636X',
 '0819851477',
 '9501902315',
 '8401325102',
 '8806149024',
 '03405519844',
 '8879285955',
 '8831509837',
 '34524642X150',
 '0140169423',
 '038067033',
 '3596126320',
 '0099289326',
 '8429716599',
 '9010054047',
 '9051087071',
 '3852562511',
 '0874631156',
 '0140369910',
 '0140279415',
 '2277301019',
 '8875480087',
 '3458165495',
 '8879836528',
 '2277302589',
 '0440200463',
 '0747220573',
 '0590118684',
 '210519752',
 '8806165305',
 '3832310134',
 '3442054648',
 '0965243702',
 '0007137796',
 '8436515218',
 '0800844874',
 '0590962817',
 '0945339711',
 'OURSELFUNIVER',
 '0099284162',
 '9600333432',
 '0140325158',
 '0140301461',
 '0006709052',
 '01401.07649',
 '0099426870',
 '091703849',
 '0099285924',
 '870104712',
 '3431023207',
 '067085428X',
 '0571203965',
 '2910233685',
 '1863500006',
 '0340765364',
 '03040769726',
 '3462018183',
 '349911979X',
 '1854100602',
 '0099272326',
 '0755322258',
 '0552771104',
 '0446788627',
 '0330301284',
 '3442414830',
 '0330320017',
 '226701453X',
 '0091841569',
 '8429738347',
 '0099784815',
 '3811872486',
 '425675964',
 '1893520021',
 '671785222',
 '0860682013',
 '3924956669',
 '9709379208',
 '0310602335',
 '842727615X',
 '0553401637',
 '0140030034',
 '9726080088',
 '8385066438',
 '0958704937',
 '0785320792',
 '035231365X',
 '0801401507',
 '2290046698',
 '0739434713',
 '0146001176',
 '0863581714',
 '0099429799',
 '03070457222',
 '8886568711',
 '8476120206',
 '067102100',
 '0752540742',
 '9728580444',
 '281297159',
 '1405407328',
 '0394508246',
 '8806157884',
 '2251490922',
 '0007154038',
 '3822825158',
 '0749315466',
 '84.66400311',
 '0099735318',
 '1899585052',
 '8806141198',
 '0966543610',
 '020704030760',
 '0746015593',
 'D374129983',
 '0708827500',
 '589734240',
 '3439002497',
 '8878242780',
 '0439128412',
 '44005562095',
 '8841802170',
 '0732308933',
 '1862070423',
 '2070566285',
 '0749701013',
 '8420519723',
 'O142001740',
 '3453131541',
 '3404132823',
 '0684718073',
 '044021680',
 '8439583656',
 '0297811169',
 '0140123180',
 '0671071769',
 '0846631167X',
 '06039188X',
 '8880894161',
 '8432047724',
 '0439329191',
 '0590481517',
 '2709625377',
 '8479010851',
 '073351300X',
 '3785529058',
 '0395741505',
 '3872945351',
 '998992922X',
 '3257060580',
 '0439650437',
 '586043144',
 '8486687292',
 '8571644950',
 '0819304042',
 '0785323007',
 '0552143480',
 '1561734861',
 '3404119444',
 '0373600119',
 '0099255723',
 '0440863775',
 '8489080941',
 '0571171311',
 '0552996696',
 '8372557675',
 '3426770202',
 '0099515210',
 '8817868655',
 '1857983386',
 '8423333809',
 '8481301264',
 '8820034859',
 '0590162160',
 '8804408790',
 '0002259656',
 '0571177123',
 '3922549004',
 '0000722105029',
 '18856641O9',
 '000716971X',
 '1557480435',
 '0794402828',
 '8500010428',
 '8881830647',
 '9536000457',
 '0224044664',
 '426148088',
 '8429713441',
 '3150091918',
 '0155436589',
 '0373019653',
 '0140007148',
 '8422635585',
 '3439004120',
 '3453148037',
 '8838435227',
 '3372002997',
 '3360001885',
 '8871227948',
 '000000000000',
 '0877845530',
 '0912275057',
 '0752566202',
 '350253266X',
 '185479678X',
 '8842430692',
 '847568212X',
 '8489969795',
 '0749322152',
 '8432221678',
 '869316712',
 '0785312978',
 '857459243',
 '0099414651',
 '3453109066',
 '340410868X',
 '9060102150',
 '8879835955',
 '357000113X',
 '0896104915',
 '3874490645',
 '9724611868',
 '0733503853',
 '0340654155',
 '0140086013',
 '0006626874',
 '8422687984',
 '0888948085',
 '0867211709',
 '0771071442',
 '0722183089',
 '0916856054',
 '388210036',
 '8586313092',
 '345255615150',
 '1883931177',
 '881657111X',
 '9536000444',
 '9038845634',
 '0752812459',
 '8496246086',
 '0439137020',
 '033035289X',
 '0312487975',
 '1590888219',
 '9164200167',
 '8845220737',
 '0749932503',
 '0434010618',
 '1854874632',
 '0439211824',
 '0385259743',
 '0140177906',
 '3453300440',
 '01400.16821',
 '0446358584599',
 '7506314002',
 '075151263X',
 '10745/85',
 '8420450006',
 '5797900068',
 '0330309854',
 '01420.02018',
 '3505079847',
 '8787771527',
 '349942844',
 '8804420812',
 '9600325685',
 '8845249077',
 '2253017469',
 '8611147057',
 '8871682912',
 '3763232850',
 '3438025205',
 '0263758133',
 '0380706989',
 '671785664225',
 '8879830759',
 '0590273647',
 '0553118021',
 '1863889701',
 '8887765596',
 '083148004994',
 '0552151939',
 '3499503182',
 '0394223918',
 '0330028618',
 '0140275517',
 '344244991',
 '388769161X',
 '8476299885',
 '3442436168',
 '042511774',
 '0099465833',
 '0864320558',
 '0753505592',
 '0749320915',
 '0770429114',
 '3404220838',
 '0669303224',
 '0752809288',
 '3404129210',
 '1586608452',
 '2471824159',
 '0590309609',
 '0440842069',
 '29222424049',
 '0749386061',
 '887303523X',
 '8422636093',
 '3570209008',
 '0676971411',
 '0091836999',
 '3928430017',
 '880448313X',
 '0553141260',
 '8434816903',
 '0904711242',
 '8821511626',
 '8481303682',
 '0450043398',
 '0413603601',
 '8882463613',
 '3518379941',
 '8420225222',
 '8422612291',
 '8477830231',
 '0146001060',
 '0646419943',
 '0842332847',
 '000637492',
 '0563204516',
 '073353318',
 '9727595421',
 '1582450829',
 '0552098973',
 '8488303483',
 '8881837293',
 '1841156590',
 '9525314111',
 '0723578966',
 '0192862146',
 '0732267072',
 '0373103603',
 '088784684X',
 '0509434500',
 '015412151550',
 '074902922',
 '0099445484',
 '0002740370',
 '3518371002',
 '887738008X',
 '8423320502',
 '8422679116',
 '0586210997',
 '0/330/25864/8',
 '2710307545',
 '8202214165',
 '0586042296',
 '0340226870',
 '8817134899',
 '0330358502',
 '671804553150',
 '1573221457',
 '3426007479',
 '0451627555',
 '0553100629175',
 '0739422049',
 '8838472165',
 '7806453474',
 '8497932315',
 '0965020592',
 '8475307418',
 '0449003298',
 '8481303631',
 '1858352036',
 '0949793264',
 '0552133264',
 '9022513483',
 '0751535389',
 '0099374013',
 '08464423292',
 '0373020082',
 '3442455073',
 '8172235305',
 '9174480197',
 '4770007922',
 '0263715906',
 '3596154154',
 '0006481116',
 '0439473136',
 '0330357816',
 '0778300331',
 '002862937X',
 '888237052+6',
 '0373171757',
 '8402072038',
 '0099443589',
 '2266051040',
 '1561447218',
 '3492234445',
 '867823122X',
 '8437239370',
 '8475670083',
 '0006470351',
 '037322583',
 '0868690483',
 '3802522354',
 '0676974554',
 '006470203',
 '3936068690',
 '3831145652',
 '0552996556',
 '8485900197',
 '0007162332',
 '2744133620',
 '0441308562',
 '0760732345',
 '3499433281',
 '679866620',
 '8476342446',
 '377246601X',
 '997188359',
 '2501003748',
 '4478052123',
 '0439013914',
 '5816800353',
 '8422618958',
 '0099582406',
 '0747259771',
 '3922028233',
 '0006728677',
 '8475743994',
 '057505056X',
 '8422625539',
 '8432082295',
 '3505107794',
 '0708848451',
 '0333416287',
 '8472918637',
 '2277215473',
 '01400.66950',
 '345032632125',
 '9504908829',
 '2207303918',
 '383114107X',
 '3785528183',
 '0590029045',
 '0575601582',
 '8882370488',
 '8535800212',
 '349918169X',
 '8804420901',
 '0373187416',
 '842064673',
 '3815503302',
 '8401326842',
 '0099804204',
 '0553573764',
 '0099463288',
 '0817256261',
 'O747557527',
 '0140239758',
 '0439168473',
 '3596275547',
 '0316082082',
 '0553112422',
 '8601016324',
 '5064487996',
 '8488034571',
 '3821803991',
 '382726628',
 '3776704489',
 '0739434470',
 '0671571567',
 '053217187X',
 '3404231805',
 '051535739',
 '8874180691',
 '8466300457',
 '3453304241',
 '8428601887',
 '078688007',
 '3505098086',
 '3453036530',
 '0007651996',
 '0571191991',
 '9727082041',
 '0865302422',
 '0747561621',
 '0552130168',
 '0373104103',
 '1860072704',
 '7500425732',
 '8881111322',
 '1858812674',
 '0143000489',
 '0553225197',
 '3891064152',
 '0340332603',
 '0552122831',
 '714610854',
 '887926396X',
 '000649840',
 '8473864026',
 '8834402049',
 '8440653735',
 '9724135756',
 '9069740419',
 '0752554743',
 '034061820',
 '038549274',
 '8427298013',
 '3453002229',
 '9172630450',
 '3453307119',
 '1853814245',
 '3404135911',
 '8482881361',
 '0140116877',
 '8807810484',
 '0571194710',
 '088798311780',
 '0001821024',
 '02637258595',
 '0749746114',
 '0684843761',
 '382904829',
 '1590888391',
 '3440055604',
 '0590223569',
 '0330487965',
 '0708844723',
 '8402067409',
 '0749710314',
 '3935590547',
 '0330419838',
 '0006174752',
 '3627100123',
 '3442444241',
 '3505037567',
 '0671469770',
 '034035447X',
 '22401632',
 '0330021117',
 '3570021475',
 '0007112750',
 '0553268890',
 '0044021271',
 '8872263085',
 '3453032519',
 '087431402X',
 '3423063106',
 '84663056611',
 '8871223764',
 '679856242',
 '7803499149869',
 '7540722665',
 '0747240949',
 '8884901235',
 '0340750855',
 '0752816179',
 '03402132702',
 '3519021889',
 '0373592302',
 '0906198984',
 '972611599X',
 '0533057405',
 '0099337003',
 '3453046552',
 '070097828',
 'TM674623',
 '014062015X',
 '0749934123',
 '354842032X',
 '8807920026',
 '0449702535',
 '147382120',
 '067087311',
 '00094536',
 '3811820907',
 '9686327274',
 '0871312573',
 '972103875x',
 '0860683451',
 '8440676670',
 ...}

We can see that **multiple items have ratings but they don't have their respective register on `BX-Books.csv`**. These items will be inserted in the `datasets.item` table anyhow.

In [9]:
df_datasets_item = pd.DataFrame(columns=["id_dataset", "id_item_dataset"])
df_datasets_item['id_item_dataset'] = np.unique(np.append(df_items['ISBN'].unique(), df_ratings['ISBN'].unique()))
df_datasets_item['id_dataset'] = np.repeat(df_dataset_info['id_dataset'][0], df_datasets_item.shape[0])
df_datasets_item.tail()

        id_dataset id_item_dataset
341760           7        cn113107
341761           7      ooo7156103
341762           7        Խcrosoft
341763           7     �3499128624
341764           7      �423350229

Registering items on `datasets.item`

In [17]:
%%time
df_types = {"id_dataset": types.INTEGER(), "id_item_dataset": types.INTEGER()}
# print ("Aqui 1")
# conn.execute("delete from datasets.item_info where id_item in (select id_item from datasets.item where id_dataset = {})" .format(df_dataset_info['id_dataset'][0]))
# print ("Aqui 2")
# conn.execute('commit')
# print ("Aqui 3")
# conn.execute("delete from datasets.item where id_item in (select id_item from datasets.item where id_dataset = {})" .format(df_dataset_info['id_dataset'][0]))
# print ("Inserting data into database...")
df_datasets_item.to_sql(con=conn, schema='datasets', name='item', if_exists='append', index=False, dtype=df_types)

Wall time: 33.8 s

In [18]:
df_datasets_item.shape

(341765, 2)

## Inserting Ratings

In [22]:
df_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [23]:
df_ratings.to_sql(con=conn, schema='transistory', if_exists='replace', name='bkx_data', index=False, dtype={'User-ID': types.VARCHAR(100), 'ISBN': types.VARCHAR(100), 'Book-Rating': types.INTEGER()  })

In [27]:
sql_str = """
insert into datasets.feedback 
(id_user, id_item, value, id_feedback_type)
select us.id_user, it.id_item, tran."Book-Rating", ft.id_feedback_type  
from transistory.bkx_data tran 
inner join datasets."user" us on us.id_user_dataset = tran."User-ID" and us.id_dataset = """ + str(df_dataset_info['id_dataset'][0]) + """
inner join datasets.item it on it.id_item_dataset = tran."ISBN" and it.id_dataset = """ + str(df_dataset_info['id_dataset'][0]) + """
inner join datasets.feedback_type ft on ft.info_type = 'explicit'
where it.id_item_dataset != 'null'"""
conn.execute(sql_str)